
.demo-btn-margin .btn{margin-bottom:6px}

.small-input {
	width: 11% !important;
}
.medium-input {
	width: 15% !important;

}
.large-input {
	width: 200% !important;

}



input[readonly] {
	border: none;
	background-color: white !important;


}

select[disabled] {
	border: none;
	

}

textarea[disabled]{
	border: none;
	background-color: white;
}
